@{
    Layout = (ViewEngines.Engines.FindView(this.ViewContext.Controller.ControllerContext, "_Layout", "").View as RazorView).ViewPath;
}
@{
    ViewBag.Title = "Index";
}



@*@section SubHeader {
    <h2>Index</h2>
}*@
