body {
    margin: 0px;
    padding: 0px;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    height: 600px;
    background-repeat: repeat-y;*/
    /*background-size: 130% 130%;*/
    background-clip: content-box;
    /*direction: rtl;*/
    background-color: rgb(229, 241, 245);

    line-height: 1.42857143;
}

.all {
    height: auto;
}

.header {
    height: 200px;
    background-color: gray;
    text-align: center;
    line-height: 100px;
    /*background-image: url(/Content/images/DoggyStyleLogo.jpg;);*/
    background-image: url('images/DoggyStyleLogo.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.headerMenu {
    height: 30px;
    background-color: rgb(203, 200, 200);
    text-align: center;
    line-height: 100px;
}
/*footer, nav, section {
    display: block;
}*/

.menuContent {
    height: inherit;
}

.menu {
    /*height: 600px;*/
    width: 10%;

    background-color: rgb(255, 207, 188);
    float: left;
    line-height: 30px;
    cursor: pointer;
    /*text-align : center;*/
    /*padding: 20px;
    margin: 3px;*/
    padding-left: 2%;
}

.content {
    height: inherit;
    width: 100%;
    /*background-color: rgb(215, 245, 215);*/
    float: right;
    /*background-image: url(Images/red-porsche-911-carrera-cabriolet-b.jpg);
    background-repeat: no-repeat;
    background-size: 110% 110%;
    background-clip: content-box;*/
    
}

header, footer, nav, section {
    display: block;
}

ul {
    /*list-style: none inside none;*/
    list-style-type: none;
    list-style-position: outside;
    list-style-image: url(/Content/images/icons/CuteVehicle.png); 
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.btn-primary, .btn-tertiary {
  border: none;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
}

.btn {
  font-family: ToyotaDisplay,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-decoration: none;
}
.btn-primary, .btn-tertiary {
  background-image: -webkit-linear-gradient(top,#eb0a1e 0,#b00817 100%);
  background-image: linear-gradient(to bottom,#eb0a1e 0,#b00817 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEB0A1E', endColorstr='#FFB00817', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
}

.btn-danger, .btn-default, .btn-info, .btn-primary, .btn-secondary, .btn-success, .btn-tertiary, .btn-warning, .toggle-switch .active {
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
}

.btn-group-lg>.btn, .btn-lg {
  padding: 10px 20px;
  font-size: 17px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-primary, .btn-tertiary {
  color: #fff;
  background-color: #eb0a1e;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.icon {
    background: url('/Content/images/icons/blue_right_arrow.png') no-repeat top left;
    display: inline-block;
    vertical-align: middle;
}
.icon-accessibility{ 
    background-position: 0 0; 
    width: 16px; 
    height: 16px; 
} 

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


